<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<!-- 头部公共文件 -->
	<{include file='public/tohead.html'}>
	
	<title>网站信息</title>
	
	<style>
		
	</style>
</head>
<body>
<div class="container-fluid">
	<ul class="nav nav-tabs top15">
		<li class="active"><a href="/setting/siteinfo" class="index-url">网站信息</a></li>
	</ul>
	<form class="form-horizontal top20" name="dataForm" action="/setting/siteinfosave">
		<div class="form-group">
			<label class="col-sm-2 control-label"><span class="must-red">*</span> 网站名称</label>
			<div class="col-sm-10">
				<input type="text" name="sitename" value="<{$lists.sitename}>" class="form-control width500" maxlength="50" placeholder="请输入网站名称" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"><span class="must-red">*</span> 网站域名</label>
			<div class="col-sm-10">
				<input type="text" name="sitehost" value="<{$lists.sitehost}>" class="form-control width500" maxlength="50" placeholder="请输入网站域名" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"><span class="must-red">*</span> SEO 关键字</label>
			<div class="col-sm-10">
				<textarea name="seokey" class="form-control" maxlength="60" style="width: 500px; height: 55px; resize: none;" placeholder="请输入 SEO 关键字"><{$lists.seokey}></textarea>
				<span class="help-block">请使用英文逗号分隔</span>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"><span class="must-red">*</span> SEO 描述</label>
			<div class="col-sm-10">
				<textarea name="seodesc" class="form-control" maxlength="120" style="width: 500px; height: 95px; resize: none;" placeholder="请输入 SEO 描述"><{$lists.seodesc}></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"><span class="must-red">*</span> 版权信息</label>
			<div class="col-sm-10">
				<input type="text" name="copyright" value="<{$lists.copyright}>" class="form-control width500" maxlength="50" placeholder="请输入版权信息" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"><span class="must-red">*</span> 备案号</label>
			<div class="col-sm-10">
				<input type="text" name="siteicp" value="<{$lists.siteicp}>" class="form-control width500" maxlength="50" placeholder="请输入备案号" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"><span class="must-red">*</span> 公网安备案号</label>
			<div class="col-sm-10">
				<input type="text" name="sitecyber" value="<{$lists.sitecyber}>" class="form-control width500" maxlength="50" placeholder="请输入备案号" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"><span class="must-red">*</span> 网站开关</label>
			<div class="col-sm-10">
				<{if $lists.sitestatus== 1}>
					<label class="radio-inline">
						<input type="radio" name="sitestatus" value="0" /> 关闭
					</label>
					<label class="radio-inline">
						<input type="radio" name="sitestatus" value="1" checked="checked" /> 开启
					</label>
				<{else}>
					<label class="radio-inline">
						<input type="radio" name="sitestatus" value="0" checked="checked" /> 关闭
					</label>
					<label class="radio-inline">
						<input type="radio" name="sitestatus" value="1" /> 开启
					</label>
				<{/if}>
			</div>
		</div>
		<div class="form-group top30">
			<div class="col-sm-offset-2 col-sm-10">
				<a class="btn btn-primary btn-save">保 存</a>
				<a class="btn btn-default left20 btn-cancel">返 回</a>
			</div>
		</div>
	</form>
</div>

<!-- 底部公共文件 -->
<{include file='public/footer.html'}>
<!-- 本页独立 js 在此处下方 -->
</body>
</html>